body{
    background-color: antiquewhite;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: larger;
  }
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #0b0b0b;
}
  
.active {
    background-color: #049faa;
}

img {
    float: center;
    border: 5px  black;
    margin: -10px 60px -10px 450px;
    width: 500px;
    height: 300px;
}

p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-right: 0px;
    text-indent: 2em;
    color: #0a04aa;
}
.p1{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-right: 0px;
    text-indent: 2em;
    color: darkmagenta;
}